@model TownOfStettler.Models.OtherHardware

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Other Hardware</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OwnerLocation" class="control-label">Owner Location:</label>
                <select asp-for="OwnerLocation" class ="form-control" asp-items="ViewBag.OwnerLocation"></select>
            </div>
            <div class="form-group">
                <label asp-for="TosNumber" class="control-label">TOS Number:</label>
                <input asp-for="TosNumber" class="form-control" />
                <span asp-validation-for="TosNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfDevice" class="control-label">Type Of Device:</label>
                <input asp-for="TypeOfDevice" class="form-control" />
                <span asp-validation-for="TypeOfDevice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Destroyed" /> @Html.DisplayNameFor(model => model.Destroyed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="History" class="control-label">History:</label>
                <select asp-for="History" class ="form-control" asp-items="ViewBag.History"></select>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">Notes:</label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
