@model TownOfStettler.Models.InstalledSoftware

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Installed Software</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Device)*@Device ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Device.Id)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Software)*@Software ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Software.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
